@charset "utp-8";

:root{
  --main-color: #2957E2;
  --sub-color: #eee;
  --sub-font: 3rem;
}

html{
  font-size: 62.5%; /* 10px 고정 */
}
body{
  /* clamp : 신규 폰트 함수 */
  /* font-size: clamp(1rem,1vw,8rem); */
  background-color: var(--main-color);
  color: var(--sub-color);
  overflow-x: hidden;
}

/* 로고 영역 */
#logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
  line-height: 100px;
  position: fixed;
  top: 20px;
  left: 20px;
  animation: logoFade 4s linear infinite;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  overflow: hidden;
}
#logo > li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  color: var(--main-color);
  transition: top 0.5s;
}
@keyframes logoFade {
  0%,100%{ opacity: 1;}
  50%{ opacity: -0.5;}
}
/* 첫 로고 이미지 */
#logo > li:nth-child(1){ top: 0; }
/* 액션 적용시 보일 로고 이미지 */
#logo > li:nth-child(2){ top: 100%; }
/* 첫 로고 이미지 액션 적용시 위치값 변경(0-> -100%하여 이동 */
#logo:hover > li:nth-child(1){ top: -100%; }
/* 액션 적용시 이미지 위치값 변경 (100%->0) */
#logo:hover > li:nth-child(2){ top: 0; }
/* 로고 오퍼시티 적용 키프레임 코드 */


/* 헤더 영역 */
header{
  /* padding-top: 20%; */
  padding-top: 100px;
  height: 100vh;
  position: relative;
  font-size: 3rem;
}
nav{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gnb{
  font-size: 4rem;
}
ul.gnb > li{
  position: relative;
}
ul.gnb > li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0;
  height: 100%;
  background-color: var(--sub-color);
  z-index: -1;
  transition: 0.5s
}

ul.gnb > li:hover:before{
  width: 100%;
}
ul.gnb > li > a{
  transition: 0.5s;
  transform-origin: left center; 
}

ul.gnb > li:hover > a{
  transform: scale(1.3);
  color: var(--main-color);
}

.title{
  font-size: 2rem;
  align-self: flex-end;
}
.title > li{
  margin: 2rem 0;
}
h1{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14vw;
}
.arrow-wrap{
  position: absolute;
  bottom: 20%;
  left: 15%;
  /* transform: translateX(-50%); */
  width: 100px;
  height: 80px;
  border-radius: 10px;
  opacity: 0.7;
}
.arrow-wrap > div{
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-wrap > .arrow-box{
  width: 100%;
  height: 100%;
  background-color: var(--sub-color);
  border-radius: 10px;
  transform: rotate(30deg);
  position: absolute;
  animation: rotateBox 8s linear infinite;
}
.arrow-wrap > .arrow{
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}
@keyframes rotateBox {
  0%{ transform: rotate(0);}
  100%{ transform: rotate(360deg);}
}

/* 공통 영역 */
section{
  width: 90%;
  margin: 10rem auto;
}

/* 어바웃 영역 */
section#about{
  margin-top: 10rem;
  font-size: 1.5rem;
}
#about .info{
  background-color: var(--sub-color);
  color: var(--sub-color);
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
}
#about .info h2{
  font-size: var(--sub-font);
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 10%;
  color: var(--sub-color);
  -webkit-text-stroke: 1px var(--main-color);
  z-index: 1;
}
#about .info h2:before{
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(30deg);
  width: 50%;
  aspect-ratio: 1/0.7;
  background-color: var(--main-color);
  border-radius: 20px;
}
#about .info > p{
  font-size: 1.6rem;
  color: var(--main-color);
  padding-top: 10rem;
  text-align: right;
  word-break: keep-all; /* 단어 단위로 줄바꿈 */
}

#about .word{
  margin: 5rem 0;
}
#about .word h2{
  font-size: var(--sub-font);
}
#about .word h2.bottom{
  text-align: right;
}

#about .keyword > li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
#about .keyword > li > p{
  /* font-size: 3rem; */
  font-size: 4vw;
  font-weight: bolder;
  padding: 1rem 2rem;
  border: 1px solid var(--sub-color);
  border-radius: 4rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  word-break: keep-all; /* 단어 단위로 줄바꿈 */
  text-align: center;
}

/* project */
#projects > .project-wrap{
  margin-bottom: 5rem;
}
#projects > .project-wrap > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-bottom: 2rem;
}
#projects > .project-wrap > .item-list{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item-list > .item{
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#projects > .project-wrap > .item-list > li > *{
  border: 1px solid var(--sub-color);
  border-top: none;
}
#projects > .project-wrap > .item-list > li > .item-title{
  border-top: 1px solid var(--sub-color);
  background-color: var(--sub-color);
  color: var(--main-color);
}
#projects > .project-wrap > .item-list > li > .item-detail{
  background-color: var(--sub-color);
  color: var(--main-color);
}
.item-list > .item > .item-img{
  width: 100%;
  aspect-ratio: 1/0.5;
  background-color: #888;
}

.item-detail{
  padding-top: 5px;
}
.item-detail > li{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--main-color);
  gap: 10px;
  margin-bottom: 5px;
}
.item-detail > li > p{
  width: 100px;
  text-align: right;
  font-weight: 600;
}
.item-detail > li > .tool{
  display: flex;
  gap: 3px;
}
.item-detail > li > .tool > p{
  padding: 3px 5px;
  border-radius: 2rem;
  background-color: var(--main-color);
  color: var(--sub-color);
}
.item-list > .item > .btn{
  display: flex;
  gap: 1rem;
}
.item-list > .item > .btn > p:hover{
  filter: brightness(70%)
}
.item-list > .item > .btn > p{
  cursor: pointer;
  flex: 1;
  background-color: var(--main-color);
  color: var(--sub-color);
  font-weight: bolder;
  text-align: center;
  padding: 5px 0;
  border-radius: 7px;
}

/* practice 레이아웃 변경 */
#projects > .practice > .item-list{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.practice .item{
  width: 47%;
}
.practice .item-detail > li{
  padding-left: 1rem;
}
.practice .item-detail > li > p{
  display: none;
}

/* skills 영역 */
#skills > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-bottom: 2rem;
}
#skills > .skill-item{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
#skills > .skill-item > li{
  /* background-color: var(--sub-color); */
  color: var(--sub-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 2rem;
  font-weight: bolder;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#skills > .skill-item > li:hover{
  filter: brightness(70%);
}
/* background */
.shape1,.shape2,.shape9{ background-color: #3EAD7B;}
.shape3,.shape4,.shape10{ background-color: #2F5281;}
.shape6,.shape8,.shape11{ background-color: #527D07;}
.shape5,.shape7,.shape12{ background-color: #B67C3D;}
.shape13{background-color: #3EAD7B;}


/* footer 영역 */
footer{
  height: 100vh;
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
footer .footer-wrap > h2{
  font-size: 7rem;
}
footer .footer-wrap > p{
  padding: 0 1rem;
  font-size: 1.7rem;
}
footer .link > li:nth-child(1){
  border: 1px solid var(--main-color);
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 1rem;
  border-radius: 4rem;
  margin: 1rem 0;
  font-size: 2rem;
}
footer .link > li:nth-child(2){
border: 1px solid var(--sub-color);
  background-color: var(--main-color);
  color: var(--sub-color);
  padding: 1rem;
  border-radius: 4rem;
  margin: 1rem 0;
  font-size: 2rem;
}