@charset "utf-8";

:root{
  --main-color: #2957E2;
  --sub-color: #eee;
  --sub-font: 5rem;
}
html{
  /* 폰트 사이즈를 기본 10px로 설정. 사용자 오류를 막기 위해 백분률 10/16*100 값(62.5%)으로 입력 */
  /* font-size: 62.5%; */
    /* 0.98vw 는 1440 해상도 기준. 10px */
  font-size: 0.98vw;    /*vw 설정시 가변적.*/
  scroll-behavior: smooth;
}
body{
  background-color: #eee;
  overflow-x: hidden;
}

/* logo 영역 ******************************************************* */
#logo{
  z-index: 100;
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--main-color);
  animation: logoFade 4s linear infinite;
  overflow: hidden;
}
#logo > li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 5rem;
  cursor: pointer;
  color: var(--sub-color);
  transition: top 0.5s;
}
/* 첫 로고 이미지 */
#logo > li:nth-child(1){ top: 0; }
/* 액션 적용시 보일 로고 이미지 */
#logo > li:nth-child(2){ top: 100%; }
/* 첫 로고 이미지 액션 적용시 위치값 변경(0-> -100%하여 이동 */
#logo:hover > li:nth-child(1){ top: -100%; }
/* 액션 적용시 이미지 위치값 변경 (100%->0) */
#logo:hover > li:nth-child(2){ top: 0; }

/* 로고 오퍼시티 적용 키프레임 코드 */
@keyframes logoFade {
  0%,100%{ opacity: 1;}
  50%{ opacity: -0.5;}
}

/* header 영역 ******************************************************* */
header{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
nav{
  position: absolute;
  top: 17%;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav > ul{
  width: 40%;
}
ul.gnb{
  width: 50%;
  font-size: 3rem;
  font-weight: bolder;
}

/* portfolo 영역 ************************* */
ul.gnb > li{
  position: relative;
}

ul.gnb > li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s
}

ul.gnb > li:hover:before{
  width: 100%;
}
ul.gnb > li > a{
  transition: 0.5s;
  transform-origin: left center; 
}

ul.gnb > li:hover > a{
  transform: scale(1.3);
  color: var(--sub-color);
}

ul.title{
  width: 30%;
  font-size: 1.3rem;
}
ul.title > li{
  margin: 1rem;
}
.arrow-wrap{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 60%;
}
.arrow-wrap > .arrow-box{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--main-color);
  transform: rotate(30deg);
  animation: rotateBox 10s linear infinite;
}
.arrow-wrap > .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--sub-color);
  font-size: 2rem;
}
/* 화살표 박스 회전 키프레임 코드 */
@keyframes rotateBox {
  0%{ transform: rotate(0);}
  100%{ transform: rotate(360deg);}
}

header > h1{
  font-size: 15rem;
  color: var(--main-color);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -2rem;
}
header > h1:before{
  position: absolute;
  font-size: 18rem;
  content: 'PORTFOLIO';
  color: transparent;
  -webkit-text-stroke: 2px var(--main-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.5;
}


/* 공통 사항 */
article{
  width: 100%;
  height: 100vh;
}

/* about me */
section#about{
  width: 100%;
  /* margin: 0 auto; */
}
.about-wrap{
  display: flex;
  width: 300%;
}
#about .info{
  padding: 5rem;
  position: relative;
}
#about .info h2{
  font-size: var(--sub-font);
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 10%;
  color: var(--sub-color);
  -webkit-text-stroke: 1px var(--main-color);
}
#about .info h2:before{
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(30deg);
  width: 50%;
  /* height: 100%; */
  aspect-ratio: 1/0.7;
  background-color: var(--main-color);
  border-radius: 20px;
}
#about .info p{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 10%;
}


/* word 영역 */
#about .word{
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .word-wrap{
  display: flex;
  flex-direction: column;
}
#about .keyword > h2{
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
}
#about .keyword > h2.top{
  text-align: left;
}
#about .keyword > h2.botton{
  text-align: right;
}
#about .keyword{
  border: 1px solid var(--main-color);
  padding: 3rem 6rem;
  border-radius: 3rem;
}
#about .keyword > li{
  display: flex;
  grid-area: 1rem;
  margin: 1rem 0;
}
#about .keyword > li > p{
  color: var(--main-color);
  font-weight: bolder;
  font-size: 2rem;
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  padding: 1rem 3rem;
  margin: 0 0.5rem;
  transition: 0,5s;
}
#about .keyword > li > p.yes:hover{
  background-color: var(--main-color);
  color: var(--sub-color);
}


/* project 영역 */
.project-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.project-wrap > h2{
  font-size: var(--sub-font);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3rem;
  text-align: center;
  padding: 1rem;
}
.item-list{
  width: 100%;
  display: flex;
  gap: 1rem;
}
.item-list > .item{
  /* width: 33.333333%; */
  flex: 1;
}
.item-list > .item > *{
  padding: 0.7rem;
  border: 1px solid var(--main-color);
  border-top: none;
  font-size: 1.2rem;
}
.item-list > .item > .item-title{
  border-top: 1px solid var(--main-color);
  font-size: 1.7rem;
}
.item-list > .item > .item-img{
  width: 100%;
  aspect-ratio: 1/0.5;
  background-color: #888;
}
.img1 > .item:nth-child(1) > .item-img{
  background-image: url(../images/clone-1.jpg);
  background-size: cover;
}
.img1 > .item:nth-child(2) > .item-img{
  background-image: url(../images/clone-2.jpg);
  background-size: cover;
}
.img1 > .item:nth-child(3) > .item-img{
  background-image: url(../images/clone-3.jpg);
  background-size: cover;
}
.item-list > .item > .btn{
  display: flex;
  gap: 1rem;
}
.item-list > .item > .btn > p:hover{
  filter: brightness(70%)
}
.item-list > .item > .btn > p{
  cursor: pointer;
  flex: 1;
  background-color: var(--main-color);
  color: var(--sub-color);
  font-weight: bolder;
  text-align: center;
  padding: 5px 0;
  border-radius: 7px;
}

.item-detail > li{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--main-color);
  gap: 10px;
  margin-bottom: 5px;
}
.item-detail > li > p{
  width: 100px;
  text-align: right;
  font-weight: 600;
}
.item-detail > li > .tool{
  display: flex;
  gap: 3px;
}
.item-detail > li > .tool > p{
  padding: 3px 5px;
  border: 1px solid var(--main-color);
  border-radius: 2rem;
  /* text-align: center; */
}

/* practice project 영역 */
article.practice{
  padding: 5rem 0;
  height: auto;
}
.practice .item-list{
  flex-wrap: wrap;
  gap: 3rem;
}

/* skills */
section#skills{
  height: 100vh;
  position: relative;
}

#skills h2{
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#skills > .skill-item > li{
  position: absolute;
  width: 250px;
  height: 150px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
#skills > .skill-item > li:hover{
  filter: brightness(150%);
}
.shape1,.shape6{ border-radius: 50%; transform: rotate(20deg); }
.shape2,.shape7{ border-radius: 20px;}
.shape3,.shape8{ clip-path: circle(40%); }
.shape4,.shape12{ clip-path: ellipse(60% 40% at 50% 50%); transform: rotate(-20deg);}
.shape5,.shape10{ clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);}
.shape11,.shape9,.shape513{ clip-path: inset(5% 20% 15% 10%); }
/* background */
.shape1,.shape2,.shape9{ background-color: #3EAD7B;}
.shape3,.shape4,.shape10{ background-color: #2F5281;}
.shape6,.shape8,.shape11{ background-color: #527D07;}
.shape5,.shape7,.shape12{ background-color: #B67C3D;}
.shape13{background-color: #3EAD7B;}

/* skill position */
.shape1{ top: 8%; left: 20%; }
.shape2{ top: 18%; left: 70%; }
.shape3{ top: 28%; left: 40%; }
.shape4{ top: 13%; left: 50%; }
.shape5{ top: 58%; left: 30%; }
.shape6{ top: 75%; left: 60%; }
.shape7{ top: 55%; left: 76%; }
.shape8{ top: 65%; left: 10%; }
.shape9{ top: 40%; left: 3%; }
.shape10{ top: 40%; left: 65%; }
.shape11{ top: 77%; left: 45%; }
.shape12{ top: 35%; left: 12%; }
.shape13{ top: 50%; left: 55%; }

footer{ 
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container{
  width: 97%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--sub-color);
  border-radius: 40px;
}
footer  .last{
  width: 97%;
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer-wrap > h2{
  font-size: 9rem;
  font-weight: bolder;
  margin-top: 3rem;
  padding: 3rem 0;
}
.footer-wrap > p{
  font-size: 2rem;
}
.footer-wrap > ul > li:hover{
  filter: brightness(80%);
}
.footer-wrap > ul > li{
  background-color: var(--sub-color);
  color: var(--main-color);
  display: inline-block;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-style: 2rem;
}