$main-color: #ff385c;
$main-hover: #ce2d4a;
$main-font: #222;
$gray-font: #b0b0b0;
$white-font: #eee;
$font-large: 24px;
$font-small: 14px;

@mixin flex($justify:center, $aline:center, $gap:1rem){
  display: flex;
  justify-content: $justify;
  align-items: $aline;
  gap: $gap;
}
@mixin respond($breakpoint){
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px){
      @content;
    }
  }
  @else if $breakpoint == pc {
    @media screen and (min-width: 1024px){
      @content;
    }
  }
}

body{
  background-color: #eee;
  columns: $main-font;
}
header{
  .mobile-search{
    @include flex();
    padding: 1rem 0;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px #ddd;
    width: 90%;
    margin: 1rem auto;
    border-radius: 50px;
    @include respond(tablet){
      display: block;
    }
    @include respond(pc){
      display: none;
    }
  }
  .logo{
    display: none;
    padding: 1.5rem;
    @include flex(space-between);
    @include respond(tablet){
      display: flex;
    }
    h1{
      font-size: 3rem;
      i{
      color: $main-color;
      }
    }
    .menu{
      @include flex(flex-end);
      .icon{
        border: 1px solid #888;
        border-radius: 20px;
        padding: 10px 20px;
        i{
          padding: 0 5px;
        }
      }
    }
  }
  .tablet-search{
    display: none;
    @include respond(tablet){
      display: block;
    }
    @include respond(pc){
      display: block;
      position: relative;
      top: -65px;
    }
    .txt{
      text-align: center;
      h3{
        display: inline-block;
        font-weight: normal;
        margin: 0 1rem;
      }
    }
    .bar{
      width: 80%;
      margin: 1rem auto;
      border: 1px solid #888;
      border-radius: 30px;
      padding: 10px 25px;
      position: relative;
      @include flex(center,center,0);
      li{
        padding-left: 2rem;
        flex: 1;
        border-right: 1px solid #888;
        cursor: pointer;
        &:hover{
          background-color: #ddd;
          border-radius: 20px;
        }
        &:first-child,
        &:nth-child(4){
          flex: 2;
        }
        &:last-child{
          border: none;
          position: absolute;
          right: 7px;
          background-color: $main-color;
          color: $white-font;
          // padding: 13px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        p{
          &:first-child{
            font-size: $font-small;
          }
          &:last-child{
            color: $gray-font;
          }
        }
      }
    }
  }
  nav{
    ul{
      // @include flex(flex-start,center,1rem);
      padding: 1rem;
      white-space: nowrap;
      overflow: hidden;
      margin: 1rem 0;
      box-shadow: 0 5px 10px #ddd;
      li{
        display: inline-block;
        width: 100px;
        text-align: center;
        img{
          width: 30%;
        }
        p{
          font-size: $font-small;
        }
      }
    }
  }
}

// main
main{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 2rem;
  .card{
    max-width: 500px;
    cursor: pointer;
    &:hover .center{
      opacity: 1;
    }
  }
    .img{
      background-size: cover;
      background-position: center;
      aspect-ratio: 1/1;
      border-radius: 10px;
      background-color: #888;
      padding: 1rem;
      @include flex(space-between,stretch);
      flex-direction: column;
      .top{
        @include flex(space-between,center);
        .guest{
          background-color: #fff;
          border-radius: 20px;
          font-size: $font-small;
          padding: 10px 20px;
        }
        i{
          font-size: $font-large;
          color: $white-font;
        }
      }
      .center{
        @include flex(space-between,center);
        opacity: 0;
        i{
          font-size: $font-large;
          color: $white-font;
        }
      }
      .bottom{
        text-align: center;
        span{
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: rgba(255,255,255,0.5);
          border-radius: 50%;
        }
      }
    }
    .txt{
      margin: 1rem 0;
      div{
        @include flex(space-between,center);
        h2{
          font-size: 16px;
        }
        p{
          color: $main-font;
        }
      }
      p{
        color: $gray-font;
        span{
          color: $main-font;
        }
      }
    }
}


// footer
footer{
  padding: 2rem;
  h2,h3{
    font-weight: normal;
    margin: 1rem 0;
  }
  h3{
    padding-bottom: 1rem;
    border-bottom:  1px solid #ddd;
    span{
      padding-bottom: 1rem;
      border-bottom: 2px solid #222;
    }
  }
  ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 2rem;
    font-size: $font-small;
  }
  p{
    padding: 1rem 0;
    text-align: center;
  }
}