@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/********** common *********/
.bigtext{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 1.8rem;
  color: #eee;
}


/* **************************************** */
/************ icon 영역 *************/
#icon{
  position: fixed; /*화면에 고정*/
  /* ▽ 위치값 */
  z-index: 10;
  top: 30px;
  left: 30px;
  font-size: 2rem;
  color: #eee;
  animation: icon-move 0.5s infinite alternate; /* alternate 효과 반전 */
}
@keyframes icon-move {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5);
  }
}

/********** main *********/
main{
  height: 100%;
  position: relative;
}
main > section{
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

/* **************************************** */
/************ section#box1 영역 *************/
section#box1{
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
}
section#box1 > p{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#box1 > p:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  background-color: #222;
  color: #eee;
  font-size: 3rem;
}
section#box1 > p:nth-child(2){
  background-image: url(images/m1.jpg);
}
section#box1 > p:nth-child(3){
  background-color: #333;
}
section#box1 > p:nth-child(5){
  background-color: #222;
  background-image: url(images/m3.jpg);
  background-size: contain;
  background-position: left;
}
section#box1 > p:nth-child(6){
  background-image: url(images/m2.jpg);
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}
section#box1 > p:nth-child(7){
  background-image: url(images/m4.jpg);
}
section#box1 > p:nth-child(10){
  background-image: url(images/m5.jpg);
  grid-column: 2 / 4;
}

/* **************************************** */
/************ section#box2 영역 *************/
section#box2{
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  background-color: #555;
  color: #eee;
}
section#box2 > p{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#box2 > p:nth-child(2){
  background-image: url(images/w1.jpg);
}

section#box2 > p:nth-child(3){
  grid-column: 3 / 5;
  background-color: #555;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}
section#box2 > p:nth-child(4){
  grid-row: 2 / 4;
  background-image: url(images/w2.jpg);
}
section#box2 > p:nth-child(5){
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-image: url(images/w3.jpg);
}
section#box2 > p:nth-child(6){
  background-image: url(images/w4.jpg);
  background-position: center;
  background-size: contain;
}
section#box2 > p:nth-child(8){
  background-image: url(images/w5.jpg);
}
section#box2 > p:nth-child(10){
  background-image: url(images/w6.jpg);
}
section#box2 > p:nth-child(11){
  background-image: url(images/w7.jpg);
}

/* **************************************** */
/************ section#box3 영역 *************/
section#box3{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "kid1 kid1 text1 kid2"
  "kid1 kid1 text2 text2"
  "kid1 kid1 kid3 text3"
  "kid1 kid1 kid3 kid4";
}
section#box3 > p{
  background-color: #333;
  color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#box3 > p:nth-child(1){
  grid-area: kid1;
  background-image: url(images/k1.jpg);
}
section#box3 > p:nth-child(2){
  grid-area: text1;
  background-color: #333;
}
section#box3 > p:nth-child(3){
  grid-area: kid2;
  background-image: url(images/k2.jpg);
}
section#box3 > p:nth-child(4){
  grid-area: text2;
  font-size: 3rem;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}
section#box3 > p:nth-child(5){
  grid-area: kid3;
  background-image: url(images/k3.jpg);
}
section#box3 > p:nth-child(6){
  grid-area: text3;
  background-color: #555;
}
section#box3 > p:nth-child(7){
  grid-area: kid4;
  background-image: url(images/k4.jpg);
}