* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************** 메인화면 **********************************/
#box1 {
  width: 100vw;
  height: 100vh;
  background-color: #1f49b5;
  color: #eee;
  border-radius: 40px;
  /* display: none; */
}
#box1 > .title {
  text-align: center;
  padding: 70px 0;
}
.title > h1 {
  font-size: 2rem;
  margin-top: 50px;
}
.title > p {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 50px;
}
.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot > #startWord {
  width: 90%;
  height: 60px;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
}
.foot > button {
  margin: 0.5rem 0;
  width: 90%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #1f49b5;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #eee;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/************************ 끝말잇기 화면 **************************/
#box2 {
  width: 100%;
  height: 100vh;
  background-color: #e3e3e3;
  color: #000;
  border: 1px solid #111;
  border-radius: 40px;
  position: relative;
  display: none;
}
.sub-title {
  text-align: center;
}
.sub-title > h2 {
  padding: 30px 0;
  font-size: 1.3rem;
  color: #2a63f3;
}
.sub-title > hr {
  width: 90%;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
}
.chain > #list {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}
.chain > #list > li {
  width: 50%;
  /* margin: 1rem auto; */
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding: 1.5rem 20px;
  gap: 1rem;
  /* position: absolute; */
}
.chain > #list > li:nth-child(odd) {
  background-color: #2a63f3;
  color: #eee;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  color: #eee;
  margin-bottom: 10px;
  margin-left: auto;
}
.chain > #list > li:nth-child(even)::before{
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(game-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.chain > #list > li:nth-child(even) {
  background-color: #fff;
  color: #111;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  left: 5%;
  top: 22%;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.chatbox {
  position: absolute;
  bottom: 2%;
  right: 4%;
}
.chatbox > #chat {
  width: 90vw;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #555;
  text-align: center;
}
.chatbox > .chatBtn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: #2a63f3;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
