@charset "utf-8";

@media screen and (max-width: 500px) {
  html,body{
    font-size: 10px;
  }
  header > .slogan > h1{
    font-size: 8rem;
  }
  main{
    width: 90%;
  }
  section{
    height: 60vh;
  }
  #aboutme > .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #aboutme > .wrapper > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #aboutme > .wrapper > .text{
    padding: 1rem;
    z-index: 5;
    background-color: rgba(0,0,0,0.4);
  }
  #aboutme > .wrapper > .image > img{
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #aboutme > .wrapper > .text > p{
    width: 100%;
  }
  #contact > .wrapper > .image{
    display: none;
  }
}