@charset "utf-8";

:root{
  --main-color: #ab7835;
}
html{
  font-size: 16px;
}
body{
  background-color: #1d1d1d;
  overflow-x: hidden;
}

/* 헤더 header 영역 ************************************************ */
header{
  height: 100vh;
  background-image: url(../images/header_bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .slogan{
  width: 70%;
  height: 70%;
  border: 10px solid var(--main-color);
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header > .slogan > h1{
  font-size: 10rem;
  letter-spacing: 0.7rem;
}
header > .slogan > p{
  font-size: 1.5rem;
}
header > .slogan > h2{
  font-size: 1.6rem;
}
header > .slogan > h2:after{
  /* 빈껍질만 만들어지는 것이므로 content 를 빈값으로 둔다 */
  content: '';
  display: block;
  width: 70%;
  height: 3px;
  background-color: #eee;
  margin: 1rem auto;
}

/* 메인 main 영역 ************************************************** */
main{
  width: 70%;
  margin: 0 auto;
}
/* ---------------------섹션 section 영역 ----------------- */
section{
  height: 100vh;
}
section h2{
  color: var(--main-color);
  font-size: 4rem;
  padding-top: 3rem;
}
section h2:after{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
}
/* - 어바웃미 about me 영역 ------------------- */
#aboutme{
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutme > .wrapper{
  background-color: #373737;
  padding: 0 3rem;
  display: flex;
}
#aboutme > .wrapper > .text{
  flex: 1;
}
#aboutme > .wrapper > .text > p{
  width: 70%;
  color: #eee;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 2rem 0;
}
#aboutme > .wrapper > .text > button{
  outline: none;
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  padding: 1rem;
  margin: 5rem 0;
  cursor: pointer;
}
#aboutme > .wrapper > .text > button:hover{
  background-color: var(--main-color);
  color: #1d1d1d;
}
#aboutme > .wrapper > .image{
  flex: 1;
  position: relative;
}
#aboutme > .wrapper > .image > img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
}

/* - 라스터 laster 영역 ------------------- */
#laster > h2{
  width: 500px;
  margin: 0 auto;
}
#laster > ul{
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
}
#laster > ul > li:nth-child(even){
  position: relative;
  top: 50px;
}
#laster > ul > li > h3{
  color: var(--main-color);
  padding: 2rem 0;
  font-size: 1.3rem;
}
#laster > ul > li > h3:after{
  content: '';
  display: block;
  height: 3px;
  background-color: var(--main-color);
}
#laster > ul > li > p{
  color: #eee;
  font-size: 1.2rem;
  font-weight: 300;
}
#laster > ul > li > button{
  background-color: transparent;
  color: var(--main-color);
  border: none;
  padding: 1rem 0;
}

/* - 컨텍트 contact 영역 ------------------- */
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact > .wrapper{
  background-color: #373737;
  width: 100%;
  display: flex;
}
#contact > .wrapper > .image{
  flex: 1;
  position: relative;
}
#contact > .wrapper > .image > img{
  position: absolute;
  bottom: 0;
  right: 0;
}
#contact > .wrapper > .title{
  flex: 1;
  padding: 0 2rem;
}
#contact > .wrapper > .title > *{
  margin: 2rem 0;
}
#contact > .wrapper > .title > .input{
  display: flex;
  gap: 1rem;
  color: #eee;
}
#contact > .wrapper > .title > .input > label > span{
  display: block;
  width: 100%;
}
#contact > .wrapper > .title > .input > label > input{
  display: block;
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
#contact > .wrapper > .title > .msg > label{
  display: block;
  color: #eee;
}
#contact > .wrapper > .title > .msg > textarea{
  display: block;
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
#contact > .wrapper > .title > button{
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 1rem;
}

/* 푸터 footer 영역 ************************************************ */