@charset "utf-8";
/* 변수등록_템플릿 기능 */
:root{
  --text-light-color:#eee;
  --font-size: 14px;
  --button-color: #3e6ae1;
}
/* mobile size를 기본  */
html{
  font-size: 16px;
}
body{
  background-color: rgb(102, 151, 206);
}
/*** header 영역 ***/
header{
  height: 100%;
  position: relative;
  background-image: url(../assets/images/05Mobile.jfif);
  background-position: center;
  background-size: cover;
}
header > nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-light-color);
  font-size: var(--font-size);
  padding: 10px 0;
}
header > nav > h1{
  padding: 10px 20px;
  letter-spacing: 10px;
}
header > nav > p{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 7px 20px;
  border-radius: 7px;
  margin-right: 10px;
}
header > nav > ul{
  display: none;
}
header > nav > ul > li{
  display: inline-block;
  padding: 7px;
}

/*** 페이지별 h2 title 영역 ***/
.title{
  color: var(--text-light-color);
  font-size: 3rem;
  text-align: center;
  padding: 20px 0px;
}


/*** button style 영역 ***/
.btn-color{
  background-color: var(--button-color);
  color: var(--text-light-color)
}
.btn-white{
  background-color: var(--text-light-color);
  color: #222;
}
.btn{
  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* 애니메이션, 위치 값 조정 */
  bottom: 50px;
}
.btn > p{
  width: 200px;
  text-align: center;
  padding: 10px 40px;
  border-radius: 5px;
}

/*** section 공통 스타일 ***/
section{
  height: 100%;
  position: relative;
}
section > .wrap{
  color: var(--text-light-color);
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
section > video{
  object-fit: cover;
  aspect-ratio: 9/16;
  width: 100%;
  height: 100%;
}
section > .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
section:nth-of-type(2){
  background-image: url(../assets/images/02Mobile.png);
  background-size: cover;
  background-position: center;
  padding: 40px 0px;
}
section > .last{
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
section > .last > .title{
  font-size: 1.3rem;
}

/*** footer style 영역 ***/
footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
/**** 미디어쿼리 영역 ****/
/* max: 0~1023px */
/* min: 1024px ~ */
/* @media screen and (min-width: 76px) and (max-width: 1024px)  {} */
@media screen and (min-width:1024px){
  html{
    font-size: 20px;
  }
  header{
    background-image: url(../assets/images/05pc.jfif);
    background-size: cover;
  }
  header > nav > p{
    display: none;
  }
  header > nav > ul{
    display: block;
  }
  section > video{
    aspect-ratio: 16/9;
  }
  section:nth-of-type(2){
    background-image: url(../assets/images/02pc.jfif);
    background-size: cover;
  }
}
